h1{
    color: black;
    font-size: 6ch;
    font-style: italic;
    
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}
header {
    background-color: #417690;
    text-align: center;
    padding: 10px 20px;
}
nav{
    display: flexbox;
    justify-content: space-between;
    align-items: flex-start;  
}
nav a{
    color: rgb(233, 15, 15);
    margin: 0 15px;
    text-decoration: solid;
}
a:hover{
        background-size: 100%;
        background-color: rgb(186, 218, 247);
        color: black;
}
main{
    text-align: center;
}
body{
    background-color: rgb(44, 39, 39) ;
    color: aliceblue;
}