{% extends 'base.html' %}

{% block style %}
<style>
    a:hover{
        background-size: 100%;
        background-color: rgb(186, 218, 247);
        color: black;
    }
</style>
{% endblock %}

{% block content %}
<h2>Update Preferences</h2>
<form method="POST">
    {% csrf_token %}
    
    <!-- Display form errors here -->
    {% if form.errors %}
        <div class="form-errors">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
{% endblock %}
